<h1>{{ title }}</h1>
{{#if user}}
<a href="/courses/add" class="btn btn-info">Add a new Course</a>
{{/if}}
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>start Date</th>
    <th>End Date</th>
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td>{{this.name}}</Td>
      <td>{{toShortDate this.startDate}}</td>
      <td>{{toShortDate this.endDate}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>