<h1>{{title}}</h1>
<p>
    This is Task Manager Web App. In this application, the user can create a project data, to know how much time is left for the project.
</p>
<footer>
    For more details contact us on various social plateforms.
</footer>
{{!-- Adding css to the about.hbs file --}}
<style>
    h1{
        text-align: center;
    }
    p{
        font-size: larger;
        text-align: center;
        font-style: italic;
    }
    footer{
        text-align: center;
        padding-top: 105px;
    }
</style>