<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

      

{{!-- Adding CSS to the index.hbs file --}}
<style>
    h1{
        text-align: center;
    }
    p {
        text-align: center;
        font-size: medium;
        text-decoration: dotted;
    }
</style>